<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>28594243884-3mf6ifviqloo7dfbuui4im2ijsnadm1v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28594243884-3mf6ifviqloo7dfbuui4im2ijsnadm1v</string>
	<key>API_KEY</key>
	<string>AIzaSyBiZR6w8g-lRgGmjyPlg_ytVWzJO21HnOk</string>
	<key>GCM_SENDER_ID</key>
	<string>28594243884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CodeCorner.Chatter</string>
	<key>PROJECT_ID</key>
	<string>chatter-c0e49</string>
	<key>STORAGE_BUCKET</key>
	<string>chatter-c0e49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28594243884:ios:bab1cc3d6cf28381</string>
	<key>DATABASE_URL</key>
	<string>https://chatter-c0e49.firebaseio.com</string>
</dict>
</plist>